{{ define "web.basic.title" -}}
{{ .CommonLabels.severity | toUpper }} {{ if gt (.Alerts.Firing | len) 0 -}} PROBLEMS: {{ .Alerts.Firing | len }} {{- end -}} {{ if gt (.Alerts.Resolved | len) 0 }} RESOLVED: {{ .Alerts.Resolved | len }} {{- end }} {{ .CommonAnnotations.summary -}}
{{- end }}
{{ define "web.basic.text" -}}
{{- range $i, $alert := .Alerts.Firing -}}
    {{- if eq $i 0 -}}Firing: {{- end -}}
    {{ "\n\t" }}{{ .Annotations.description -}}
{{- end -}}
{{- "\n" -}}
{{- range $i, $alert := .Alerts.Resolved -}}
    {{- if eq $i 0 -}}Resolved: {{- end -}}
    {{ "\n\t" }}{{ .Annotations.description -}}
{{- end -}}
{{- "\n" -}}
    {{- if .CommonAnnotations.dashboard -}}
    {{- "\n" -}Dashboard: {{ .CommonAnnotations.dashboard }}
    {{- end -}}
    {{- if .CommonAnnotations.docs -}}
    {{- "\n" -}}Documentation: {{ .CommonAnnotations.docs }}
    {{- end -}}
{{- end }}
